Model/main
Web_site/improved_version
Model/Breast
Model/Breast/Image_recognize
.venv
__pycache__
.idea
catboost_info
Web_site/Api/synthetic_test_image.jpg
jupiter_notebook
docker-compose.yml
Dummy
Core
Model/Flu
Test_model_breast_cancer.py
data
